@import  '../../index.css';

.detailsbooking{
    height: 100%;
}
.detailsbooking h1{
    text-align: center;
    color: var(--color-terciario);
}
.detailsbooking ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}
.detailsbooking__items{
    display: flex;
    justify-content: space-around;
    background-color: var(--btn-color-search);
    width: 50%;
    border-radius: 20px;
    margin-top: 5%;
    align-items: center;
    padding-bottom: 2rem;
}
.detailsbooking__items li{
    list-style: none;
    color: var(--color-select);
    font-weight: bold;
}

.detailsbooking__items li p{
    font-weight: 400;
    margin: 0px;
}