@import  '../../index.css';

.footer{
    display: flex;
    justify-content: center;
    background-color: var(--color-terciario);
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
  
}